[Unit]
Description=Ultramarine USB Ethernet gadget
DefaultDependencies=no
After=sys-kernel-config.mount systemd-modules-load.service
Wants=sys-kernel-config.mount
Before=sysinit.target network-pre.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/rg55g1-usb-gadget start
ExecStop=/usr/local/libexec/rg55g1-usb-gadget stop

[Install]
WantedBy=sysinit.target
